.iphone {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 668px;
    width: 333px;
    border-radius: 39px;
    overflow: hidden;
    /* @formatter:off */
    box-shadow:
        0 0 0 10px black,
        0 0 0 15px rgb(119,60,141),
        rgba(0, 0, 0, 0.25) 0 54px 55px,
        rgba(0, 0, 0, 0.12) 0 -12px 30px,
        rgba(0, 0, 0, 0.12) 0 4px 6px,
        rgba(0, 0, 0, 0.17) 0 12px 13px,
        rgba(0, 0, 0, 0.09) 0 -3px 5px;

    /* @formatter:on */
}

.background {
    position: relative;
    height: inherit;
    width: inherit;
    border-radius: inherit;
    opacity: 0.9;
    /* @formatter:off */
    background-image:
        linear-gradient(to left bottom,
        hsl(197,100%,33%),
        hsl(216,41%,48%),
        hsl(253,27%,53%),
        hsl(299,25%,47%),
        hsl(332,37%,50%),
        hsl(349,41%,51%),
        hsl(8,44%,49%),
        hsl(24,56%,41%),
        hsl(42,65%,34%),
        hsl(65,56%,30%),
        hsl(102,40%,35%),
        hsl(159,100%,25%)
        );
    /* @formatter:on */
}

.dynamic-island {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 25px;
    border-radius: 40px;
    background: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
